html {
    width: auto!important;
    overflow-x: hidden!important;
}
.nav-item {
    color: rgb(224, 182, 119);
    font-size: larger;
    padding:0px;
    font-family: 'Playfair Display', serif;
}


.member {
    padding-top: 20px;
}
    

h1 {
    padding-top: 30px;

}

.head  {
    padding-top: 10px;
    text-align: center;

    margin:0;
   
    font-family: 'Cinzel', serif;
    
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title   {
    background-color:#e17945;
    
    font-size: xx-large;
    text-decoration:wavy;
    color: rgb(33, 33, 114);
    background-image: url(./assets/);
   
}
body
   {
    background-color:rgb(228, 178, 178);
    padding: 0;
    margin:0;
}
.img    {
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.textcolor  {
    color: rgb(33, 33, 114);
}
.intro  {
    color: rgb(33, 33, 114);
}
.subhead    {
    font-family: 'Cinzel', serif;
    
}
.carousel .item {
    height: 200px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px;
}


@media (max-width:320px)  {

    .nav-item {
        color: blue;
        font-size: small;
        font-weight: bold;
        text-transform: uppercase;
    }
    
}
    
@media (min-width:320px)  {
        .nav-item {
            color: blue;
            font-size: medium;
            font-weight: bolder;
            text-transform: uppercase;
        }
        
    }
        
@media (min-width:481px)  {  

.nav-item {
        color: blue;
        font-size: medium;
        font-weight: bolder;
        text-transform: uppercase;
    }
}
    


@media (min-width:641px) {
    .nav-item {
        color: blue;
        font-size: large;
        font-weight: bolder;
        text-transform: uppercase;
    }
}

    
@media (min-width:961px)  {
    .nav-item {
        color: blue;
        font-size: large;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 20px;
    }
}
    
   
    
@media (min-width:1025px) { 
    .nav-item {
        color: blue;
        font-size:large;
        font-weight: bolder;
        text-transform: uppercase;
        padding:25px;
    }
}
   




@media (min-width:1281px) {   
    .nav-item {
        color: blue;
        font-size: x-large;
        font-weight: bolder;
        text-transform: uppercase;
        padding:30px;
    }
}
   
    
  
