html, body {width: auto!important; overflow-x: hidden!important} 
min-height

.nav-item {
    color: rgb(209, 206, 47);
    font-size: larger;
    padding:0px;
    font-family: 'Playfair Display', serif;
    
      
}
.church{
    color: rgb(208, 78, 43);
    font-size:0px;
    font-weight:bolder;
    padding: 0px;
}

.para.lead{
    text-align: left;
}
.box para{
    margin: 0px auto;
            background: #ffffff;
            padding: 0px;
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.1);
            
}
.map{
    height: 140%;
}
.member {
    padding-top: 20px;
}
 

h1 {
    padding-top: 10px;

}

.head  {
    padding-top: px;
    text-align: center;

    margin:0;
   
    font-family: 'Cinzel', serif;
    
    
}
.box{
  max-width: 90%;
  margin: 0px auto;
  background: #ffffff;
  padding: 0px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

   

body
   {
    background-color:rgb(202, 233, 224);
    padding: 0;
    margin:0;
}
.img    {
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.textcolor  {
    color: rgb(33, 33, 114);
}
.intro  {
    color: rgb(33, 33, 114);
}
.subhead    {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: larger;
  
    
    
}
.photoslide{
    padding-top: 20px;
}
.join.subhead{
    font-weight: 100;
    
}
.carousel .item {
    height: 200px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px;
}
.flex-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
   

}
.address {
    text-decoration: none;

}
.flex-image {
    display: flex;
    width:100%;
    padding: 0px;
}
.text{
    text-align:center;
    padding: 10px;
  } 
.image-container    {
    width: 100%;
   margin: 0 auto;
   text-align: center;
   padding: 10px
}

.image {
    width: 100%;
}
.para {
    padding-bottom: 0px;
}
#search {
    text-align: center;
}
.name {
    color: #e17945;
    text-align: left;
}
.song {
    font-size: medium;
    padding-top: 20px;
    color:rgb(33, 33, 114);
    text-align: left;

}

.buttons a {
    font-size: 16px;
  }
  .buttons a:hover {
    cursor:pointer; 
    font-size: 16px;
  }

#myDIV {
    width: 100%;
    padding: 0px 0;
    text-align: left;
    margin-top: 0px;}
.hidden {
        display: none;
    }
#songs {
     text-align: center;
}
.buttons {
    padding: 0;
    border: none;
    background: none;
}

.buttons a {
    font-size: 16px;
    
  }
  .buttons a:hover {
    cursor:pointer; 
    font-size: 16px;
  }

footer {
    background-color:#ffffff !important;
    min-height: 1px;
    font-size: xx-small;
    padding-bottom:1px;
    text-align: center;
}


  /* Slides */
  .mySlides {
    display: none;
    padding: 10px;
    text-align: center;
  }
  .iframe_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;

  }
  .iframe_container iframe{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 5px;
    color:black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  
  /* On hover, add a black background color with a little bit see-through */
  

@media (max-width:320px)  {

    .welcome{
    letter-spacing: 2px; color: rgb(33, 33, 114); max-width: 275px;
    margin: 0px auto;
    background: #ffffff;
    padding: 1px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 48%;
}
.elc{
    font-size:8px;
}
.elc.lead{
    font-size:11px;
}
.experience{
    font-size:6px;
}

.church{
    color: rgb(208, 78, 43);
    font-size: 15px;
    font-weight:bolder
}
.logo{
    width: 40px;
}
.para.lead {
    font-size:12px;

}
.subhead{
    font-size:13px;
}
.qr{
    width:40%;
    height: 35%;
}
img.sign{
    width:5%;

}
    
   
}
.join{
    font-size: 16px;
}
.join.img{
    width: 90%;
    padding: 5px;

   
   
}
    .nav-item {
        color: blue;
        font-size: small;
        font-weight: bold;
        
    }
    .flex-container {
        max-width: 100%;

        display: flex;
    
    }
    .flex-image {
        display: flex;
        width:100%;
        padding:0px;
    }
    .image-container    {
        width: 100%;
       margin: 0 auto;
       padding: 0px;
    }
    .image {
        width: 100%;
    }
    .song {
        font-size:medium;
        text-align: left;
    }
    .mySlides {
        display: none;
        padding: 15px;
        text-align: center;
      }
      .text-center {
        font-size: large;
      }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 5px;
        color:black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0 3px 3px 0;
        user-select: none;
}   
.display-7 {
    font-size: larger;
}
.iframe_container {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  .iframe_container iframe {
    height: 90%;
    width: 90%;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subpara {
    text-align: left;
   
}




    
@media (min-width:320px)  {

    .welcome{
        letter-spacing: 2px; color: rgb(33, 33, 114); max-width: 350px;
        margin: 0px auto;
        background: #ffffff;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);
        text-align: center;
        font-size: 50%;
    }
    .elc{
        font-size:small;
    }
    .experience{
        font-size:8.5px;
    }
    .church{
        color: rgb(208, 78, 43);
        font-size: 24px;
        font-weight:bolder
    }
    .logo{
        width: 55px;
    }
    .para.lead {
        font-size:16px;
    }
    .elc.lead{
        font-size:13px;
    }
    .subhead{
        font-size:15px;
    }


        .nav-item {
            color: blue;
            font-size: medium;
            font-weight: bolder;
            text-transform: uppercase;
        }
        .flex-container {
            max-width: 100%;
            display: flex;
            margin: 0 auto;
            padding: auto;
            
        
        }
        .flex-image {
            display: flex;
            width:90%;
            margin: 0 auto;
            padding: 0px;
        }
    .image {
            width: 100%;
            
        }
        .song {
            font-size:medium;
            text-align: left;
        }
        .mySlides {
            display: none;
            padding: 25px;
            text-align: center;
          }
          .text-center {
            font-size:large;
          }
        
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -30px;
            padding: 5px;
            color:black;
            font-weight: bold;
            font-size: 15px;
            border-radius: 0 3px 3px 0;
            user-select: none;

    
        
    }
    
    .iframe_container {
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
      }
      .iframe_container iframe {
        height: 90%;
        width: 90%;
        padding:0px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
 
    
}
}
        
@media (min-width:481px)  {  
    .welcome{
        letter-spacing: 2px; color: rgb(33, 33, 114); max-width: 500px;
        margin: 0px auto;
        background: #ffffff;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);
        text-align: center;
        font-size: 70%;
    }
    .elc{
        font-size:large;
    }
    .experience{
        font-size: 15px;
    }
    .church{
        color: rgb(208, 78, 43);
        font-size: 35px;
        font-weight:bolder
    }
    .logo{
        width: 60px;
    }
    .para.lead {
        font-size:17px;
    }

.nav-item {
        color: blue;
        font-size: medium;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .flex-container {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:90%;
        margin: 0 auto;
        padding: 0px;
    }
.image {
        width: 100%;
        
    }
    .song {
        font-size: larger;
    }
    .text-center {
        font-size: x-large;
      }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 5px;
        color:black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0 3px 3px 0;
        user-select: none;
}
.iframe_container {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  .iframe_container iframe {
    height: 80%;
    width: 80%;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
    


@media (min-width:641px) {
    .welcome{
        letter-spacing: 2px; color: rgb(33, 33, 114); max-width: 600px;
        margin: 0px auto;
        background: #ffffff;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);
        text-align: center;
        font-size: 80%;
    }
    .elc{
        font-size:large;
    }
    .experience{
        font-size: 15px;
    }
    .church{
        color: rgb(208, 78, 43);
        font-size: 35px;
        font-weight:bolder
    }
    .logo{
        width: 60px;
    }
    .church{
        color: rgb(208, 78, 43);
        font-size: 47px;
        font-weight:bolder
    }
    .logo{
        width: 80px;
    }
    .para.lead {
        font-size:18px;
    }
    .nav-item {
        color: blue;
        font-size: large;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .flex-container {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:90%;
        margin: 0 auto;
        padding: 0px;
    }
.image {
        width: 100%;
        
    }
    .song {
        font-size:22px;
        
    }
    .text-center {
        font-size: x-large;
      }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 120px;
        color:black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .iframe_container {
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
      }
      .iframe_container iframe {
        height: 80%;
        width: 80%;
        padding:0px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
    
@media (min-width:961px)  {
    .welcome{
        letter-spacing: 2px; color: rgb(33, 33, 114); max-width: 700px;
        margin: 0px auto;
        background: #ffffff;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);
        text-align: center;
        font-size: 100%;
    }
    .elc{
        font-size:18px;
    }
    .elc.lead{
        font-size:19px;
    }
    .experience{
        font-size:19px;
    }
    
    .church{
        color: rgb(208, 78, 43);
        font-size: 40px;
        font-weight:bolder
    }
    .logo{
        width: 40px;
    }
    .para.lead {
        font-size:19px;
    
    }
    .subhead{
        font-size:13px;
    }
    .qr{
        width:40%;
        height: 35%;
    }
    img.sign{
        width:5%;
    
    }
  .logo{
        width: 100px;
    }
    .nav-item {
        color: blue;
        font-size: large;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 20px;
    }
    .flex-container {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:90%;
        margin: 0 auto;
        padding: 0px;
    }
.image {
        width: 100%;
        
    }
.para {
    text-align:center;
}
.text-center {
    font-size: xx-large;
  }
.song {
    font-size: x-large;
   
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 120px;
    color:black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .iframe_container {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  .iframe_container iframe {
    height: 80%;
    width: 80%;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
 
@media (min-width:1025px) { 
    .logo{
        width: 100px;
    }
    
    .nav-item {
        color: blue;
        font-size:large;
        font-weight: bolder;
        text-transform: uppercase;
        padding:25px;
    }
    .elc{
        font-size:19px;
    }
    .elc.lead{
        font-size:18px;
    }
    .experience{
        font-size:18px;
    }
    
    .logo{
        width: 55px;
    }
    .para.lead {
        font-size:20px;
    }
    .subhead{
        font-size:22px;
    }
    .flex-container {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:90%;
        margin: 0 auto;
        padding: 0px;
    }
.image {
        width: 100%;
        
    }
    .song {
        font-size: x-large;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 120px;
        color:black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .iframe_container {
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
      }
      .iframe_container iframe {
        height: 80%;
        width: 80%;
        padding:0px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
   
      
}
}

@media (min-width:1281px) {   
    .nav-item {
        color: blue;
        font-size: x-large;
        font-weight: bolder;
        text-transform: uppercase;
       
        padding-right: 50px;
     
    }
    .elc{
        font-size:20px;
    }
    .elc.lead{
        font-size:19px;
    }
    .experience{
        font-size:19px;
    }
    
    .logo{
        width: 55px;
    }
    .para.lead {
        font-size:20px;
    }
    .elc.lead{
        font-size:20px;
    }
    .subhead{
        font-size:20px;
    }
    .nav {
       padding:10px;
        
    }
    .symbols {
        padding-right:20px;

    }
    .text-center {
        font-size: xx-large;
    }
    .song {
        padding-left: 0px;
        font-size: xx-large;
      
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 120px;
        color:black;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .iframe_container {
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
      }
      .iframe_container iframe {
        height: 80%;
        width: 80%;
        padding:0px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        

    }
    
}
